

body{
  background-color:#202020;
}

.form{
  display: grid;
  justify-content: center;
  height:10vh;
  align-items: center;
}

main.recipeList{
  display: flex;
}
main:hover{
  cursor: default;
}

ul{
  padding:0;
  width:100vw;
  display:inline-flex;
  flex-direction: column;
  align-items: center;
}
.recipe{
  list-style: none;
  width:70vw;
  transition: all 1s;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  border-radius: 30px;
}
.recipe:hover{
  background-color:#d1d1d160;
  cursor:pointer;
}
.link{
  text-decoration: none;
}
.recipe .name{
  text-align:center;
  color:grey;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.recipe img{
  object-fit: cover;
  border-radius: 30px;
  aspect-ratio: 1;
  width:40vw;
}


main.recipePage{
  display:inline-flex;
  flex-direction: column;
  color: #afafaf;
  width: 97vw;
  margin: 0;
}

main.recipePage .name{
  text-align: center;
  font-size: 2.5rem;
}

.recipePage img{
  object-fit: cover;
  border-radius: 30px;
  aspect-ratio: 1;
  width: 40vw;
  margin: 0 auto;
}

.recipePage button{
  width:fit-content;
  margin:5vh auto;
  padding: 5px;
  background:#272727;
  color:grey;
  border-radius: 20px;
  border-width: 0;
  transition: color 1s, background-color 1s;
}
.recipePage button:hover{
  cursor: pointer;
  background-color: #737373;
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
}

.recipePage div.text{
  margin-top: 10vh;
 text-align: center;
 color: #d3d3d3;
}

.recipePage ul{
  width:50vw;
  display:inline-flex;
  align-items: flex-start;
  margin-left:10px;
}

.recipePage li{
  display:list-item;
  text-align: left;
}